/* Estilo para la fuente de toda la página en el index */
.body{
    font-family:'Ubuntu', 'Arial';
}

/* Estilo para el Jumbotron */
.containerJumbotron{
    margin-top: 40px;
    padding: 5px;
    height: 400px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerJumbotron .containerJumbotronContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px; 
    /* En el tamaño de la fuente debo de cambiar los tamaños de en pantalla mobiles que sean de 24px y en pantalla grandes 30px */
}

.containerJumbotron .textJumbotro{
    text-align: justify;
}

#contenedorConImgFondo{
    /* Para colocar una imagen como fondo de mi jumbotron */
    background-image: url('/images/teclado.jpg');
    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-position: center center;
    /* Esto es para que la imagen de fondo del contenedor no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    color: #fff !important;
}

/* Estilo del carrusel para los tipos de swithches */
#swithches{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.card-img{
    width: 400px;
}

.card{
    margin: 10px;
    justify-content: center !important;
    align-items: center !important;
    width: 400px;
    text-align: justify;
}

/* Estilo para acomodar el catalogo */
.containerCatalogo{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cotainerProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}


/* Estilos para los contenedores que mostraran el catalogo */
.membrana{
    margin: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-image: url('/images/catalogo/tecladoMembrana1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
}
/* 
Estilo para difuminar la imagen de fondo del contenedor del telcado membrana */
.membrana::before{
    content: '';
    position: absolute;
    background: #3a3535a6;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} 


.lineal{
    margin: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-image: url('/images/catalogo/tecladolineal.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative; 
}

.lineal::before{
    content: '';
    position: absolute;
    background: #3a3535a6;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} 



.tactil{
    margin: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-image: url('/images/catalogo/tecladotactil.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative; 
}

.tactil::before{
    content: '';
    position: absolute;
    background: #3a3535a6;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} 

.clicky{
    margin: 20px;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-image: url('/images/catalogo/tecladoclicky_ruidoso.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;  
}

.clicky::before{
    content: '';
    position: absolute;
    background: #3a3535a6;
    opacity: 0.4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} 

/* Estilo para darle color a los contenedores del catalgo */
.tituloContainer{
    text-align: center;
    font-weight: bolder;
    color: #ffffff;
}
/* Estilo para darle color al texto de los contenedores del catalgo */
.infoText{
    text-align: justify;
    font-weight: bolder;
    color: #ffffff;
}

/* Apartado de contact */
.containerContacto{
    background: #fff;
}

.containerContacto .containerContactoForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #000;
    justify-content: center;
}

.containerContacto .contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contacto .contactoImg{
    width: 170px;
    margin: 10px;
}

.containerContacto .containerForm{
    margin: 30px;
    /* color: #22262a; */
}

/* Estilo footer ecommerce */

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-around;
}

.logoFooter .logoWeb{
    width: 160px;
}

.footer .aboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 10px;
    padding: 5px;
}

.aboutUs li:hover{
    color: #0983fd;
}

.footer .socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.socialMedia li:hover{
    color: #0983fd;
}

.footer .location{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

/*Medidas de pantalla acomodando el contenido respecto a estas*/
@media only screen and (max-width: 1200px) and (min-width: 980px) { 
     /*Al tener menos de 1200px en patanlla se cambiar el flexdirection de row a colum  */
     .card-img{
        width: 200px;
    }
     
    .card{
        margin: 10px;
        justify-content: center !important;
        align-items: center !important;
        width: 200px;
        text-align: justify;
    }
  
     .footer{
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: space-around;
    }
    
  }  


/* Para 960px */  
@media only screen and (max-width: 980px) and (min-width: 821px) {  
    .card-img{
        width: 200px;
    }
    
    .card{
        margin: 10px;
        justify-content: center !important;
        align-items: center !important;
        width: 200px;
        text-align: justify;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: space-around;
    }
    
  }  
    
   
  @media only screen and (max-width: 820px) and (min-width: 621px) {  

    .card-img{
        width: 200px;
    }
    
    .card{
        margin: 10px;
        justify-content: center !important;
        align-items: center !important;
        width: 200px;
        text-align: justify;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: space-around;
    }
  }  
    
  
  @media only screen and (max-width: 620px) and (min-width: 501px) {  
    .card-img{
        width: 200px;
    }
    
    .card{
        margin: 10px;
        justify-content: center !important;
        align-items: center !important;
        width: 200px;
        text-align: justify;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: space-around;
    }
  }  
  
  
  /* Para 480px */  
  @media only screen and (max-width: 500px) and (min-width: 341px) {  
        
    .card-img{
        width: 200px;
    }
    
    .card{
        margin: 10px;
        justify-content: center !important;
        align-items: center !important;
        width: 200px;
        text-align: justify;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;    
        justify-content: space-around;
    }
  }  
    
  /* Para 320px */  
  @media only screen and (max-width: 340px) and (min-width: 5px)  {  
    .card-img{
        width: 200px;
    }
    
    .card{
        margin: 10px;
        justify-content: center !important;
        align-items: center !important;
        width: 200px;
        text-align: justify;
    }
        .footer{
            display: flex;
            flex-direction: column;
            align-items: center;    
            justify-content: space-around;
        }
  } 