/* Estilo para la fuente de toda la página en el index */
.body{
    font-family:'Ubuntu', 'Arial';
}

/* Estilo para el Jumbotron */
.containerJumbotron{
    margin-top: 40px;
    padding: 5px;
    height: 400px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerJumbotron .containerJumbotronContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px; 
    /* En el tamaño de la fuente debo de cambiar los tamaños de en pantalla mobiles que sean de 24px y en pantalla grandes 30px */
}

.containerJumbotron .textJumbotro{
    text-align: justify;
}

#contenedorConImgFondo{
    /* Para colocar una imagen como fondo de mi jumbotron */
    background-image: url('/images/teclado.jpg');
    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-position: center center;
    /* Esto es para que la imagen de fondo del contenedor no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    color: #fff !important;
}

.tecladoAnimado{
    display: flex;
    width: 300px;
}


/* Estilo para acomodar el catalogo */
.containerCatalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cotainerProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*  */
.containerDemoSwitches{
    overflow: hidden;
}

/* Estilo para las cards que se encuentran dentro del catalago */
.card{
    margin: 10px;
    justify-content: center !important;
    align-items: center !important;
    width: 400px;
    text-align: justify;
}
/*Se centra el titulo del card-header*/
.card .card-header{
    text-align: center;
}

.card .card-img-top{
    padding: 5px;
    height: 200px;
}

.containerContacto{
    background: #212529;
}

.containerContacto .containerContactoForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    justify-content: center;
}

.containerContacto .contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contacto .contactoImg{
    width: 200px;
    margin: 10px;
}

.containerContacto .containerForm{
    margin: 30px;
}


